h1{
    /* Used in: index.html */
    font-family: "Comic Mono";
    font-size: 86px;
    text-align: center;
}
h4{
    /* Used in: about.html */
    font-family: "Comic Mono";
    font-size: 7px;
    text-align: left;
}
h5{
    /* Used in: index.html */
    font-family: "Comic Mono";
    font-size: 16px;
    text-align: center;
}