.sentence {
    transition: background-size 0.4s ease;
    background: linear-gradient(to bottom, transparent 62%, #fff87e 0) center center/0% 75% no-repeat;
    font-family: Quicksand;
    font-size: 3rem;
    padding: 0 6px 2px 6px;
    cursor: pointer;
    color: rgba(80, 89, 113, 0.7);
    letter-spacing: 0.08rem;
}
.sentence:hover {
    background-size: 100% 100%;
}
.sentence:active {
    background-size: 80% 100%;
}
.sentence-container {
    width: 50%;
    float: left;
    z-index: 1;
    background-color: #fff;
    padding: 60px;
}
.comments-container{
    width: 50%;
    float:left;
    background-color: #fff87e;
    padding: 0 6px 2px 6px;
    height: 100%;
}

